body {
    background-color: rgb(40, 40, 40);

    /* Used for sticky footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

p {
    color: lightgray;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

main {
    flex: 1 0 auto;
}

.card a {
    color: #26A69A;
}